<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Servis.Biblioteka">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
          <endpoint address="IBiblioteka" binding="netTcpBinding" contract="Common.IBiblioteka" />
          <endpoint address="IBezbednosniMehanizmi" binding="netTcpBinding" contract="Common.IBezbednosniMehanizmi" />
      </service>
    </services>
  </system.serviceModel>
</configuration>