<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="Servis.Library">
        <endpoint address="ILibrary" binding="netTcpBinding" contract="Common.ILibrary" />
        <endpoint address="ISecurityMechanisms" binding="netTcpBinding"
          contract="Common.ISecurityMechanisms" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
