<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Source" address="net.tcp://localhost:4000/ILibrary" binding="netTcpBinding" contract="Common.ILibrary"/>
      <endpoint name="Destination" address="net.tcp://localhost:4001/ILibrary" binding="netTcpBinding" contract="Common.ILibrary"/>
      <endpoint name="SecuritySource" address="net.tcp://localhost:4000/ISecurityMechanisms" binding="netTcpBinding" contract="Common.ISecurityMechanisms"/>
      <endpoint name="SecurityDestination" address="net.tcp://localhost:4001/ISecurityMechanisms" binding="netTcpBinding" contract="Common.ISecurityMechanisms"/>
    </client>
  </system.serviceModel>
</configuration>
