<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Library" address="net.tcp://localhost:4000/ILibrary" binding="netTcpBinding" contract="Common.ILibrary"/>
      <endpoint name="Security" address="net.tcp://localhost:4000/ISecurityMechanisms" binding="netTcpBinding" contract="Common.ISecurityMechanisms"/>
    </client>
  </system.serviceModel>
</configuration>
